@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Public Sans", sans-serif;
}

p {
  color: #9597a5;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.234px;
  width: 327px;
}

header {
  width: 100%;
  min-height: 20px;
  background-color: #fff;
  padding: 22px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.desctop-nav {
  display: none;
}

header > button {
  display: none;
}

.desctop-nav > ul {
  list-style: none;
}

.header-nav {
  background-color: red;
}

#hamburger {
  position: absolute;
  right: 10px;
  top: 27px;
  padding: 0 27px 100px 150px;
}

#close {
  display: none;
  position: absolute;
  right: 10px;
  top: 27px;
  padding: 0 27px 300px 300px;
  z-index: 2;
}

#hamburger:hover + #close {
  display: block;
}

#close:hover {
  display: block;
}
.header-nav:hover #hamburger {
  display: none;
}

.header-nav > ul {
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 88px;
  transform: translate(-50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: calc(100% - 48px);
  display: none;
  padding: 32px 0;
  border-radius: 4px;
}

.header-nav:hover ul {
  display: flex;
}

.header-nav > ul > li > a {
  color: #2d314d;
  text-align: center;
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.138px;
  text-decoration: none;
}

.bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.293);
  width: 100%;
  height: 664px;
  z-index: -1;
  left: 0;
  top: 67px;
  display: none;
}

.header-nav:hover .bg {
  display: block;
}
.main-top {
  width: 100%;
  padding: 0 24px 88px 24px;
  min-height: 100px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column-reverse;
  background-image: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: -75px;
  background-position-x: right;
}

.main-top-teft {
  width: 100%;
  min-height: 20px;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-top-right {
  width: 100%;
  min-height: 271px;
  position: relative;
}

.phones {
  width: 327px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -115px);
}

.main-top-teft > h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #2c314c;
  line-height: normal;
  margin-top: 41px;
  margin-bottom: 16px;
}

.main-top-teft > p {
  margin-bottom: 32px;
}

.main-top-teft > button {
  padding: 11px 34px;
  border-radius: 22px;
  border: none;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.main-midle {
  width: 100%;
  min-height: 400px;
  padding: 64px 24px;
  background-color: #f4f5f7;
}

.main-mid-top {
  width: 100%;
  min-height: 50px;
  /* background-color: #2ab6d9; */
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  margin-bottom: 56px;
}

.main-mid-top > h2 {
  color: #2d314d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.571px;
}

.main-mid-bot {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mid-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid-card > h3 {
  color: #2d314d;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.357px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.main-bot {
  width: 100%;
  padding: 88px 24px;
  background-color: #fafafa;
}

.main-bot > h2 {
  color: #2d314d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.571px;
  margin-bottom: 31px;
}

.bot-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.bot-card {
  background-color: #fff;
  width: 327px;
}

.bot-card > img {
  width: 100%;
}
.bot-card > div {
  padding: 25px 31px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bot-card > div > p {
  width: 265px;
  text-align: left;
  font-size: 13px;
}

.bot-card > div > h6 {
  color: #9597a5;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 180% */
  letter-spacing: -0.156px;
}

.bot-card > div > h3 {
  color: #2d314d;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  letter-spacing: -0.286px;
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: #2c314c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.logo-icons {
  /* background-color: #33d35e; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}

.logo-icons > img {
  width: 139px;
  align-self: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.icons > svg {
  fill: #fff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav > p {
  color: #fff;
}

.btn-allrights {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.btn-allrights > button {
  padding: 11px 34px;
  border-radius: 22px;
  border: none;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

button:hover {
  background: linear-gradient(to bottom, #33d35e66, #2ab6d966);
  background-color: #fff;
}

.btn-allrights > p {
  color: #9598a6;
}

/* 
.modal {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding: 30px 15px;
  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.info {
  position: absolute;
  padding: 15px 20px;
  right: 20px;
  bottom: 20px;
}

.hidden {
  display: none;
} */
